@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap');

body {
  margin: 0;
  background: rgb(255,255,255);
  background: -moz-radial-gradient(circle, rgba(255,255,255,1) 45%, rgba(177,177,177,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 45%, rgba(177,177,177,1) 100%);
  background: radial-gradient(circle, rgba(255,255,255,1) 45%, rgba(177,177,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b1b1b1",GradientType=1);
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Site-content {
  flex: 1;
  width: 100%;
}

.form-control {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important;
}

.navbar {
  position: fixed;
  top: 10px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-right: 3px;
  transition: all 1s;
}

.navbar-light .navbar-nav .nav-link:hover {
  background: #fff;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

form.buscador input {
  border: none;
  background: rgba(0,0,0,0.8);
  font-size: 0.8rem;
  color: #fff !important;
}

.entrada {
  z-index: 10;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.entrada h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 2px 5px #000;
  font-size: 2.2rem;
}

.entrada h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #f2f2f2;
  text-shadow: 0 2px 5px #000;
}

.qsomos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/images/bkg8.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.qsomos.second {
  background: url(/images/bkg7.jpg) no-repeat center center fixed; 
}

.qsomos .col {
  flex: 1 0 20%;
}

.nav-pills .nav-link {
  background: #fff;
  border-radius: 0;
  margin-top: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: all 1s;
  display: flex;
  align-items: center;
}

.nav-pills .nav-link svg {
  margin-right: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: #016380;
}

.nav-pills .nav-link:hover {
  background: #016380;
  color: #fff;
}