@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600;800&family=Zen+Antique&display=swap');

body {
  margin: 0;
  background: #111;
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Outfit', sans-serif;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Site-content {
  flex: 1;
  width: 100%;
}

.form-control {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important;
}

.navbar {
  position: fixed;
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 3px;
  transition: all 1s;
  /*font-family: 'Titillium Web', sans-serif;*/
  font-weight: 100;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:#ccc;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

form.buscador input {
  background: rgba(0,0,0,0.9);
  font-size: 1rem;
  color: #333 !important;
  border: 2px solid #333;
  border-radius: 50px !important;
  padding: 3px 20px;
}

.entrada {
  z-index: 10;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: -1;
}

.entrada h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 2px 5px #000;
  font-size: 2.2rem;
}

.entrada h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #f2f2f2;
  text-shadow: 0 2px 5px #000;
}

.qsomos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background: url(/images/bkg11.jpg) no-repeat center center fixed;*/
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}

.qsomos.second {
  /*background: url(/images/bkg12.jpg) no-repeat center center fixed; */
}

.qsomos.third {
  /*background: url(/images/bkg7.jpg) no-repeat center center fixed; */
}

.qsomos .col {
  flex: 1 0 20%;
}

.nav-pills .nav-link {
  background: rgba(255,255,255,0.5);
  border-radius: 0;
  margin-top: 3px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: all 1s;
  display: flex;
  align-items: center;
  color: #fff;
}

.nav-pills .nav-link svg {
  margin-right: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: rgba(0,0,0,0.5);
}

.nav-pills .nav-link:hover {
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.tab-content>.active {
  /*background: rgba(0,0,0,0.8);*/
  padding: 80px 30px;
}

:root {
  --video-width: 100vw;
  --video-height: 100vh;
}

.botonera h2 svg {
  margin-left: 5px;

}

@media (min-aspect-ratio: 16/9) {
  :root {
      --video-height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  :root {
      --video-width: 177.78vh;
  }
}

.video-background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -1 !important;
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--video-width);
  height: var(--video-height);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.bkgfull {
  background: #333 url(/images/bkg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bkgfull h1 {
  font-weight: bold;
  color:#fff;
  font-size: 4rem;
  text-shadow: 0 0 10px #000;
}

.pagina-aniversario {
  text-align: center;
  z-index: 100;
  background: rgba(0,0,0,0.4);
  padding: 20px;
  box-shadow: 0,0,10px,#000;
}

.pagina-aniversario h1{
  font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Oswald', sans-serif;
}

.pagina-aniversario p {
  color: #a8a8a8;
  font-size: 1rem;
}

#background-video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tienda {
  z-index: 100;
}

.container.tienda {
  margin-top: 60px;
  max-width: 98%;
  margin-bottom: 120px;
}

.container.tienda .card {
  margin: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 10px 10px 10px #dedede;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.container.tienda .card .card-img-top {
  width: 100%;
}

.container.tienda .card .btn.btn-primary {
  background: #016380;
  color: #fff;
  bottom: 10px;
  border: 0;
  right: 15px;
  width: 100%;
  border-radius: 20px !important;
}

.loader {
  width: 100vw;
  height: 100vh;
  background: rgb(0,20,36);
  background: linear-gradient(341deg, rgba(0,20,36,1) 0%, rgba(9,81,121,1) 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader h2 {
  color: #fff;
  padding: 10px;
  font-weight: 100;
}
.loader p {
  color: #fff;
  padding: 10px;
  font-weight: 100;
}
.tienda .card {
    flex-direction: row;
    margin-bottom: 10px;
}
.tienda .card-title {
  margin-bottom: 0.1rem;
  font-size: 0.7rem;
  display: flex;
  font-weight: bold;
  padding-bottom: 2px;
  text-align: left;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tienda p.card-text p {
  font-size: 0.7rem;
  height: 70px;
  overflow: auto;
  text-align: justify;
  padding-right: 20px;
}

.tienda p.card-text {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tienda p.card-text p.autor {
  font-size: 0.5rem;
  height: auto;
}

.filtros h2 {
  font-size: 1rem;
  padding: 5px;
  background: #dedede;
}

.menuabajo {
  position: fixed;
  bottom: 0 !important;
  width: 100%;
  padding: 20px;
}

.menuabajo .menuiconos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuabajo .menuiconos .MenuItem {
  margin: 10px;
}

.menuabajo .menuiconos svg {
  font-size: 2.5rem;
}

.MenuItem {
  text-align: center;
}

.MenuItem h2 {
  font-size: 1rem;
  padding: 10px;
  padding-bottom: 0;
}

.MenuItem a {
  color: #fff;
  text-decoration: none;
}

.menuabajo {
  position: fixed;
  bottom: 0 !important;
  z-index: 100000;
}

.h2 {
  width: 100%;
  margin-top: 20px;
}

.header-gerencia.navbar-light .navbar-nav .nav-link {
  color: #111 !important;
  font-weight: bold;
}

.gerencia {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gerencia .container {
  z-index: 10;
  height: 100vh;
  display: flex;
  align-items: center;
}

.gerencia .container h1 {
  font-weight: bold;
  color: #333;
}

.gerencia .container p {
  color: #333;
  /*background: rgba(0,0,0,0.4);*/
  padding: 20px;
  font-weight: 400;
}

.gerencia.secciones {
  height: auto;
  padding: 90px 0;
}

.gerencia.secciones p {
  text-align: left;
  font-weight: bold;
  color: #fff;
}

.gerencia.secciones ul li, .gerencia.secciones h2 {
  text-align: left;
  color: #016380;
}

.gerencia.secciones .labteam ul li {
  background: #016380;
}

.gerencia.secciones h2 {
  font-weight: bold;
}

h2.videobanner {
  position:fixed;
  font-weight:400;
  color:#fff;
  top:47%;
  font-size:3rem;
  line-height:3rem;
  width:100%;
  text-align:center;
  z-index: 200000;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #000;
}

h3.videobanner {
  position:fixed;
  font-weight:800;
  color:#fff;
  top:40%;
  font-size:2rem;
  line-height:2rem;
  width:100%;
  text-align:center;
  z-index: 200000;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #000;
}

h3.videobanner.especial {
  font-weight: bold;
}

.botonera {
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 200000;
}

.net {
  display: block;
  margin: 90px 25px;
}

.net .card.net{
  min-height: 200px;
  box-shadow: 0 5px 15px #f2f2f2;
  margin: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.tienda .card.net {
  margin: 10px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h2.dirtit {
  padding: 0 8px;
  margin-top: 50px;
}

.form-label {
  font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.ocp-layout {
  background: #080e2e;
  padding: 70px 0;
  padding-bottom: 20px;
}

.ocp-layout h1 {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #00637F;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 0;
}

.ocp-layout h2 {
  width: 100%;
  text-align: center;
  color: #333;
  background: #fff;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.ocp-layout p.clausulas {
  text-align: center;
  color: #fff;
  width: 100%;
}

.ocp-layout .nav-tabs {
  display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.ocp-layout .nav-tabs .nav-link {
  border-radius: 0;
  color: #fff;
}

.ocp-layout .nav-tabs .nav-link.active {
  color: #000;
}

.aniversaio-badges {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  right: 0;
  display: fñe;
  justify-content: center;
  align-items: center;
  width: 200px;
  right: 10px;
  bottom: 20px;
}

.ocp-layout .tab-content>.active {
  position: relative;
  padding: 0 50px;
}

.filtrocarousel {
  position: fixed;
  background: rgba(0,0,0,0.7);
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
}

.buscadorTienda {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  margin-top: 15px;
}

.buscadorTienda .form-control {
  border-radius: 20px !important;
}

.imgproducto {
  max-height: 200px;
  overflow: hidden;
}

.container.tienda .card .card-body {
  height: 230px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carritoprod svg {
  margin: 10px;
  font-size: 2rem;
}

.carritoprod form.buscador {
  margin-right: 10px;
}

.carritoprod form.buscador input {
  background: #f2f2f2;
  border: none;
  padding: 5px 20px;
  padding-right: 50px;
}

.offcanvas {
  z-index: 300000;
}

.detalleProdu {
  text-align: center;
}

.detalleProdu .offcanvas-title.h5 {
  font-weight: 900;
}

.detalleProdu p {
  margin-top: 20px;
  text-align: justify;
}

.detalleProdu button.btn.btn-primary {
  width: 100%;
  background: #0072a6;
  margin-top: 20px;
}

.labteam ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.labitems ul.pruebas {
  text-align: justify;
  padding-right: 40px;
}

.labteam ul li {
  background: rgba(0,0,0,0.9);
  margin: 2px 0;
  padding: 15px 10px;
  text-align: justify;
}

.labteam ul li h4 {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

.labteam ul li h6 {
  font-size: 0.8rem;
  color: #fff;
}

.labteam ul li p {
  margin: 0;
  padding: 0;
}

h1.titulab {
  text-align: left;
  font-weight: bold;
  margin-bottom: 1px solid #999;
  padding-bottom: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.navbar-light .header-tienda .navbar-nav .nav-link {
  color: #000;
}

@media (max-width: 1024px) {
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  
}

@media (max-width: 1300px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.8rem;
  }
  .nav-pills .nav-link {
    font-size: 0.5rem;
  }
}